* {
  box-sizing: border-box;
}

:root {
  --header-bg: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Public Sans", sans-serif;
}

/* Common */

.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.section-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.24;
  color: #152427;
}

.section-desc {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.62;
  color: #7d8188;
}

a {
  text-decoration: none;
}

button {
  font-family: "Public Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.btn {
  --height: 57px;
  display: inline-block;
  min-width: 173px;
  height: var(--height);
  line-height: var(--height);
  background: #143c3c;
  border: 1.5px solid #143c3c;
  border-radius: 40px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.curve {
  width: 545px;
  height: 361.17px;
  background-size: cover;
  background-image: url(/assets/img/hero-curve.png);
  position: absolute;
  z-index: 3;
}

.curve-flower {
  position: absolute;
  top: 12px;
  transform: rotate(9.39deg) translateX(calc(-50% - 4px));
  width: 72.03px;
  height: 72px;
  object-fit: cover;
}

/* Header */

.logo {
  display: inline-block;
  width: 146.4px;
  height: 26.24px;
}

.logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  padding-top: 28px;
  min-height: 100vh;
  background: var(--header-bg);
}

.header-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.header-top::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #dddcdc 51.09%,
    rgba(213, 213, 213, 0) 99.68%
  );
}

.navbar-action-wrap {
  display: flex;
  align-items: center;
}

.navbar {
  margin-right: 69px;
}

.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__item {
  padding: 4px 19px;
}

.navbar__link {
  position: relative;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
}

.navbar__link-active::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -30px;
  z-index: 1;
  width: 16px;
  height: 2px;
  background: #143c3c;
}

/* Hero */

.hero {
  position: relative;
  margin-top: 60px;
  display: flex;
  column-gap: 101px;
  align-items: center;
}

.hero__content {
  width: 32.3%;
}

.hero__heading {
  font-family: "Public Sans", sans-serif;
  font-weight: 800;
  font-size: 5rem;
  line-height: 1.2;
}

.hero__desc {
  font-family: "Public Sans", sans-serif;
  margin-top: 20px;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
}

.hero__action {
  margin-top: 42px;
  display: flex;
  column-gap: 36px;
}

.btn-watch {
  font-family: "Poppins", sans-serif;
  border: none;
  background: none;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #152427;
  white-space: nowrap;
  cursor: pointer;
}

.watch-icon {
  position: relative;
  width: 57px;
  height: 59px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.watch-icon__inner {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #83a17d;
  border-radius: 50%;
  color: #fff;
}

.watch-icon__stroke {
  position: absolute;
  top: 0;
  left: 0;
}

.hero__media {
  width: 56.7%;
  position: relative;
  padding-bottom: 164.7px;
}

.hero__images {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  column-gap: 20px;
  z-index: 2;
}

.hero__img {
  width: 202px;
  height: 466px;
  object-fit: cover;
  border-radius: 110px;
}

.hero__img:nth-child(2) {
  margin-top: 77px;
}

.hero__media-blur {
  margin-top: 122px;
  margin-left: 156px;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background: #4dbb9a;
  filter: blur(137px);
}

.hero__curve-top {
  top: -32px;
  right: 273px;
}

.hero__curve-bottom {
  transform: rotate(-180deg);
  bottom: 0;
  right: 50px;
}

/* Logo section */
.logo__section {
  margin-top: 42px;
}

.logo__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e2eddf;
  border-radius: 100.5px;
  padding: 76px;
}

.logo__item {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  transition: 0.25s;
}

.logo__item:hover {
  transform: scale(1.1);
}

.logo__item.google {
  font-weight: 500;
  font-size: 3.1rem;
  line-height: 1.48;
  color: #143c3c;
}

.logo__item.slack {
  margin-left: 42px;
  gap: 3px;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 1.5;
  color: #143c3c;
}

.logo__item.agworld {
  margin-left: 55px;
  gap: 14px;
  font-size: 2.6rem;
  line-height: 1.5;
  color: #163c35;
}

.logo__item.riotinto {
  margin-left: 64px;
  font-family: "Sonsie One", cursive;
  font-size: 2.3rem;
  line-height: 1.3;
  color: #143c3c;
}

.logo__item.heroku {
  margin-left: 63px;
  gap: 10px;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 1.47;
  letter-spacing: 0.105em;
  color: #143c3c;
}

/* Service */

.service {
  margin-top: 106px;
  font-family: "Poppins", sans-serif;
}

.service-header {
  width: calc(100% - 73px);
}

.service__title {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.62;
  color: #152427;
}

.service__title::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 1px;
  background: #152427;
  margin-right: 21px;
  position: relative;
  top: -8px;
}

.service-row {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-heading {
  max-width: 520px;
}

.service-heading::after {
  position: relative;
  top: -0.2em;
  margin-left: 20px;
  content: "";
  display: inline-block;
  width: 66px;
  height: 2px;
  background: #152427;
}

.service__controls {
  display: flex;
  align-items: center;
  gap: 17px;
}

.service__control {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: #e2eddf;
  color: #152427;
  cursor: pointer;
  transition: 0.25s;
}

.service__control:hover {
  background: #143c3c;
  color: #fff;
}

.service__control-next {
  transform: rotate(180deg);
}

.service__list {
  margin-top: 76px;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 16px;
  overflow: auto;
}

.service__item {
  flex: 1 0 360px;
  padding-bottom: 8px;
}

.service__item:hover {
  cursor: pointer;
}

.service__item-info {
  padding: 110px 18px 24px;
  margin-top: -85px;
  min-height: 245px;
  transition: 0.25s;
  background: #ffffff;
  border-radius: 20px;
  position: relative;
}

.service__item-info:hover {
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service__item-thumb {
  position: relative;
  z-index: 1;
  display: block;
}

.service__item-img {
  display: block;
  width: 100%;
  height: 318px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.service__item-title,
.service__item-desc {
  max-width: 268px;
}

.service__item-title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: #152427;
}
.service__item-desc {
  margin-top: 18px;
  font-size: 14px;
  line-height: 1.71;
}

/* About */

.about {
  font-family: "Poppins", sans-serif;
  margin-top: 157px;
}

.about__body {
  display: flex;
}

.about__media {
  position: relative;
  width: 51.85%;
  padding-top: 13px;
}

.about__images {
  display: flex;
  column-gap: 20px;
}

.about__img {
  flex: 1;
  width: 284px;
  height: 480px;
  object-fit: cover;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
  border-radius: 210px;
}

.about__img:nth-child(1) {
  margin-top: 77px;
}

.about__curve {
  transform: rotate(12.64deg);
  left: 42px;
  top: 32px;
}

.about__designers {
  position: absolute;
  right: 9px;
  bottom: 8px;
  font-family: "Public Sans", sans-serif;
  padding: 19px 17px 11px;
  background: #ffffff;
  box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
  border-radius: 8px;
}

.about__designers-heading {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #152427;
}

.about__designers-text {
  margin-top: 6px;
  font-size: 1rem;
  line-height: 1.4;
  color: #575d5e;
  opacity: 0.4;
}

.about__progress-percent {
  margin-top: 10px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: #152427;
}

.about__progress-outer {
  height: 2px;
  background: #eaeaea;
  border-radius: 10px;
}

.about__progress-inner {
  width: 40%;
  height: 100%;
  background: #83a17d;
  border-radius: 10px;
}

.about__progress-loading {
  margin-top: 3px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: #152427;
  text-align: right;
}

.about__circle-outer {
  display: inline-block;
  margin-top: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__circle-inner {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: #143c3c;
}

.about__teams {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__teams-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: #152427;
}

.about__avatars-images {
  display: flex;
  align-items: center;
}

.about__avatars-img {
  width: 16px;
  height: 16px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-left: -8px;
}
/* About content */
.about__content {
  width: 42.6%;
  margin-left: 64px;
}

.about__title {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.12;
  color: #152427;
}

.about__title::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 1px;
  background: #152427;
  margin-right: 21px;
}

.about__desc {
  margin-top: 11px;
}

.about__countdown {
  padding-top: 36px;
  padding-bottom: 20px;
  display: flex;
  border-bottom: 1px solid #83a17d;
}

.about__countdown-percent {
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.24;
  color: #152427;
}

.about__countdown-desc {
  margin-left: 24px;
  padding-right: 9px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #7d8188;
}

/* Process */

.process {
  margin-top: 115px;
  font-family: "Poppins", sans-serif;
}

.process-row {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.process__header-subtitle {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.125;
  color: #152427;
}

.process-heading {
  position: relative;
  max-width: 477px;
  margin-top: 20px;
}

.process-heading::after {
  position: absolute;
  bottom: 22px;
  margin-left: 20px;
  content: "";
  display: inline-block;
  width: 66px;
  height: 2px;
  background: #152427;
}

.process__content {
  margin-top: 80px;
  position: relative;
}

.process__thumb {
  position: absolute;
  top: -259px;
  right: 92px;
  width: 450px;
  height: 444px;
}

.process__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.process__content-row {
  position: relative;
  display: flex;
  align-items: center;
  padding: 57px 20px 20px;
  border-radius: 33px;
}

.process__content-row + .process__content-row::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: linear-gradient(
    180deg,
    #83a17d 4.17%,
    rgba(131, 161, 125, 0) 36.46%
  );
}

.process__content-row:nth-child(1) {
  background: #e2eddf;
  padding-left: 30px;
  padding-bottom: 54px;
}

.process__content-row:nth-child(3) {
  padding-bottom: 25px;
}

.process__content-stt {
  font-weight: 600;
  font-size: 7.2rem;
  line-height: 0.722;
  color: #143c3c;
}

.process__content-box {
  margin-left: 64px;
}

.process__row-title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: #152427;
}

.process__row-more {
  display: inline-block;
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1;
  color: #575d5e;
  text-decoration: underline;
}

.process__row-desc {
  margin-left: auto;
  font-family: "Public Sans", sans-serif;
  width: 50.17%;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #7d8188;
}

/* Features */

.feature {
  margin-top: 148px;
  background: #143c3c;
  padding-top: 116px;
  padding-bottom: 64px;
}

.feature__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature-heading {
  color: #e7f9f9;
  max-width: 457px;
}

.feature__header-content {
  max-width: 590px;
  font-size: 1.8rem;
  line-height: 1.555;
}

.feature__header-desc {
  font-weight: 500;
  color: #6a8383;
}

.feature__header-browse {
  margin-top: 12px;
  display: inline-block;
  font-weight: 500;
  color: #ffffff;
}

.feature__header-browse:hover {
  text-decoration: underline;
}

.feature__header-arrow {
  margin-left: 26px;
}

.feature__video {
  position: relative;
  margin-top: 65px;
}

.feature__video-curve {
  position: absolute;
}

.feature__video-inner {
  border-radius: 22px;
}

/* Service features */

.service__features {
  margin-top: 140px;
  font-family: "Poppins", sans-serif;
}

.service__features-header {
  max-width: 547px;
  margin: 0 auto;
  text-align: center;
}

.service__features-desc {
  margin-top: 20px;
}

.service__features-list {
  display: flex;
  column-gap: 45px;
  margin-top: 103px;
}

.service__features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  height: 362px;
  background: #ffffff;
  border: 1.5px solid #cecece;
  border-radius: 160px;
  padding-left: 37px;
  padding-right: 27px;
}

.service__blog-icon {
  width: 40px;
  height: 38px;
}

.service__document-icon {
  width: 45px;
  height: 45px;
}

.service__customers-icon {
  width: 45px;
  height: 45px;
}

.service__features-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service__features-title {
  margin-top: 24px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1;
  color: #152427;
}

.service__features-item:not(:nth-child(1)) .service__features-item-desc {
  max-width: 264px;
}

.service__features-item:nth-child(2) {
  margin-top: -60px;
}

.service__features-item-desc {
  margin-top: 12px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.714285;
  text-align: center;
  color: #7d8188;
}

.service__features-item:hover {
  box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
}

/* Blogs */

.blogs {
  margin-top: 184px;
  font-family: "Poppins", sans-serif;
}

.blogs__header-subtitle {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.125;
  color: #152427;
}

.blogs__header-subtitle::before {
  position: relative;
  top: -5px;
  content: "";
  display: inline-block;
  margin-right: 21px;
  width: 25px;
  height: 1px;
  background: #152427;
}

.blogs-row {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogs-heading {
  position: relative;
  max-width: 520px;
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.24;
  color: #152427;
}

.blogs-heading::after {
  position: absolute;
  bottom: 15px;
  content: "";
  display: inline-block;
  width: 82px;
  height: 3px;
  background: #152427;
  margin-left: 5px;
}

.blogs-desc {
  max-width: 410px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.62;
  color: #7d8188;
}

.blog__list {
  margin-top: 90px;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 30px;
  overflow: auto;
}

.blog__item {
  flex: 1 0 360px;
  padding-bottom: 8px;
  cursor: pointer;
}

.blog__item:hover .blog__item-info {
  max-width: 100%;
  box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
  border-radius: 0px 0px 20px 20px;
}

.blog__item-info {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 12px;
  transition: all 0.25s;
  padding-top: 26px;
  max-width: calc(100% - 16px);
}

.blog__item-thumb {
  position: relative;
  z-index: 1;
  display: block;
}

.blog__item-img {
  display: block;
  width: 100%;
  height: 317px;
  object-fit: cover;
  border-radius: 40px 40px 0px 0px;
}

.blog__item-tag {
  display: inline-block;
  text-align: center;
  width: 107px;
  padding: 7px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  color: #000000;
  background: #e2eddf;
  border-radius: 20px;
}

.blog__item-title {
  margin-top: 12px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #143c3c;
  padding-bottom: 38px;
  border-bottom: 1px solid #c4c4c4;
}

.blog__item-date {
  text-align: right;
  margin-top: 16px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  color: #575d5e;
}

/* Footer */

.footer {
  background: #143c3c;
  margin-top: 102px;
  padding-top: 72px;
  padding-bottom: 50px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__content-signup {
  width: 36.1%;
  font-family: "Poppins", sans-serif;
}

.footer__signup-title {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.5;
  color: #ffffff;
}

.footer__signup-newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  padding-bottom: 36px;
  border-bottom: 1px solid #6a8383;
  padding-right: 12px;
}

.footer__signup-input {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}

.footer__signup-input::placeholder {
  color: #6a8383;
}

.footer__signup-control {
  background-color: transparent;
  border: none;
  outline: none;
}

.footer__socials {
  gap: 0 22px;
  margin-top: 46px;
  display: flex;
  align-items: center;
}

.footer__social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #265252;
}

.footer__social-icon:hover {
  background: #a75325;
  border-color: transparent;
}

.instagram-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fcfcfc;
  border-radius: 3px;
  width: 18.27px;
  height: 18.27px;
}

.instagram-circle {
  display: inline-block;
  width: 7.03px;
  height: 7.03px;
  border: 1px solid #fcfcfc;
  border-radius: 50%;
}

.footer__overview {
  font-family: "Public Sans", sans-serif;
  width: 39.3%;
  display: grid;
  gap: 0 50px;
  grid-template-columns: repeat(4, 1fr);
}

.footer__col-title {
  white-space: nowrap;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.555;
  color: #ffffff;
}

.footer__col-link {
  white-space: nowrap;
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.25;
  color: #6a8383;
}

.footer__col-link:hover {
  text-decoration: underline;
}
