* {
  box-sizing: border-box;
}

:root {
  --header-bg: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Public Sans", sans-serif;
}

/* Common */

.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.section-heading {
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.24;
  color: #152427;
}

.section-desc {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.62;
  color: #7d8188;
}

a {
  text-decoration: none;
}

.btn {
  --height: 57px;
  display: inline-block;
  min-width: 173px;
  height: var(--height);
  line-height: var(--height);
  background: #143c3c;
  border: 1.5px solid #143c3c;
  border-radius: 40px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

/* Header */

.logo {
  display: inline-block;
  width: 146.4px;
  height: 26.24px;
}

.logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  padding-top: 28px;
  min-height: 100vh;
  background: var(--header-bg);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.header-top::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #dddcdc 51.09%,
    rgba(213, 213, 213, 0) 99.68%
  );
}

.navbar-action-wrap {
  display: flex;
  align-items: center;
}

.navbar {
  margin-right: 69px;
}

.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__item {
  padding: 4px 19px;
}

.navbar__link {
  position: relative;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
}

.navbar__link-active::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -30px;
  z-index: 1;
  width: 16px;
  height: 2px;
  background: #143c3c;
}
